.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.promo-card ion-img {
  max-height: 55vh;
  max-width: 35vw;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.card-animation ion-img{
  max-height: 35vh;
  vertical-align: middle;
  overflow: hidden;
  align-self: center;
};
